.aboutCont .imageGallery,
.aboutCont .description {
  display: inline-block;
}

.aboutCont .imageGallery {
  text-align: right; 
   width:40%;
}

.aboutCont .imageGallery img {
  margin-bottom:10px;
}



.aboutCont .description {
  width:45%;
  vertical-align: top;
  margin-left:40px;
}



.aboutCont {
  margin: 50px auto 0;
  max-width:800px;
}


.aboutCont .fakeHR {
  width:100%;
  height:0px;
  border-bottom:1px solid #bbb;
  margin:20px 0;
  width:30%;
}

