 .footer {
  flex-shrink: 0;
  border-top:2px solid #f47c20;
  position: relative;
  text-align: center;
}


.footerInnerCont {
  margin-top:40px;
}

.footerOuterContent {
  max-width:1350px;
  position: relative;
  margin:0 auto;
}

.footerCol1,
.footerCol2,
.footerCol3 {
  text-align: center;
}


.footerStamp {
  height:auto;
  width:150px;
  margin-top:40px;
}

.footer a,
.footer h4 {
  text-decoration: none;
  color:#9b9b9b;
  font-weight: normal;
  font-size: 14px;
  font-family: Courier,monospace;
  margin-bottom:4px;
  margin-top:10px;
}

.footer h3 {
  margin-bottom:5px;
}

.blackBottomFooter {
  display: block;
  background-color: #272727;
  height: 50px;
  margin-top:50px;
  text-align: center;
}

.blackBottomFooter h5 {
  text-transform: uppercase;
  color:#fbfbfb;
  font-size:10px;
  top:40%;
  position: relative;

}

.footerMobDivider {
  border-bottom:1px solid #f47c20;
  width:35%;
  margin:30px auto;
}

/* --------------------- BREAKPOINT ------------------- */

@media (min-width:768px) {
  .footerInnerCont {
    width: 650px;
    margin:60px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  .footerCol1,
  .footerCol2,
  .footerCol3 {
    display: inline-block; 
    width:33%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
  }

  .footerCol3 {
    position: relative;
    right:35px;
  }


  .footerStamp {
    height:auto;
    width:150px;
    position: absolute;
    right:20px;
    top:-25px;
    margin-top:0;
  }

  .footerCol1,
  .footerCol2 {
    border-right: 1px solid #f47c20;  
  }

  .footerMobDivider {
    border-bottom:none
  }

  .footer h4 {
    margin-top:0;
  }
}

/* --------------------- BREAKPOINT ------------------- */


@media (min-width:1200px) {

  .footerInnerCont {
    width: 700px;
  }

  .footerStamp {
    right:50px;
  }
}