.navCont {
  width:100%;
  height:85px;
  background-color: white;
  text-align: center;
}

.navCont .homeFlag {
  display: none;
}

.navCont .menuFlag {
  width:auto;
  height: 45px;
  position: absolute;
  top:20px;
  left:30px; 
}

.navCont h2 {
  display: inline-block;
  position: relative;
}

.navCont h2 > a {
  color:#006c84;
  font-size:40px;
  text-decoration: none;
}

.navCont h2 > a:hover,
.navCont h2 > a.active {
  color:#f47c20;
}

.navCont .menuCont {
  display: none;
}

.sideMenuVisible + .menuCont{
  background-color:white;
  height:100vh;
  width:100vw;
  z-index:2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.menuFlag.sideMenuVisible {
  position: fixed;
  z-index: 3;
}

/* --------------------- MEDIA QUERY ------------------------------------*/

@media (min-width:625px){

  .navCont {
    height: initial;
  }

  .navCont .homeFlag {
    width:auto;
    height: 45px;
    position: absolute;
    top:20px;
    left:30px;
    display: initial; 
  }

  .navCont .menuFlag {
    display: none;
  }

  .navCont .menuCont {
    width:40%;
    max-width:400px;
    margin:0 auto;
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .navCont h2 > a {
    font-size:20px;
  }

}