.navCont {
  width:100%;
  height:85px;
  background-color: white;
  display: inline-block;
  text-align: center;
}

.navCont .homeFlag {
  width:auto;
  height: 45px;
  position: absolute;
  top:20px;
  left:30px;
}

.navCont .menuCont {
  width:30%;
  margin:0 auto;
  height:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navCont h2 {
  display: inline-block;
  position: relative;
  top:8px;
}

.navCont h2 > a {
  color:#006c84;
  font-size:20px;
  text-decoration: none;
}

.navCont h2 > a:hover,
.navCont h2 > a.active {
  color:#f47c20;
}

