.portfolioCont {
  text-align: center;
  margin-top:50px;
}

.portfolioCont * {
  text-decoration: none;
}

.heroImg {
  width:40%;
  height:auto;
}

.gallery{
  display: flex;
  /* border:1px solid red; */
  width: 80%;
  margin:50px auto;
  justify-content: space-evenly;
  flex-flow:row wrap;
}

.galleryItem {
  height:250px;
  width:250px;
  /* margin:3px; */
  /* border:1px solid black; */
  padding: 0;
}

.galleryItem.hoverActive img{
  border-bottom: 2px solid #f47c20;
}


.galleryItem img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #adadad;
}

.galleryItem h5,
.galleryItem h6 {
  text-align: left;
  font-family: 'Libre Baskerville', serif; 
  margin-top:5px;

}

.galleryItem h5 {
  color:black;
  font-weight: bold; 
  font-size: 13px;
}

.galleryItem h5  span {color:#9b9b9b;}

.galleryItem h6 {
  font-weight: normal;
  color:#9b9b9b;
  font-size:11px;
}

