.portfolioCont {
  text-align: center;
  margin-top:30px;
}

.portfolioCont * {
  text-decoration: none;
}

.heroImg {
  width:80%;
  height:auto;
  max-width: 600px;
}

.gallery{
  display: flex;
  width: 80%;
  max-width: 1175px;
  margin:50px auto;
  justify-content: center;
  flex-flow:row wrap;
}

.galleryItem {
  height:200px;
  width:250px;
  padding-left:20px;
}

.galleryItem.hoverActive img {
  -webkit-box-shadow: 0px 7px 22px 0px rgba(212,212,212,0.75);
  -moz-box-shadow: 0px 7px 22px 0px rgba(212,212,212,0.75);
  box-shadow: 0px 7px 22px 0px rgba(212,212,212,0.75);
    transform: scale(1.05,1.05);
}

.galleryItem img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.galleryItem h5,
.galleryItem h6 {
  text-align: left;
  font-family: 'Libre Baskerville', serif; 
  margin-top:5px;
  margin-bottom:0;

}

.galleryItem h5 {
  color:black;
  font-weight: bold; 
  font-size: 13px;
  border-top: 1px solid #adadad;
  margin-top:15px;
  padding-top:10px;
}


.galleryItem.hoverActive h5{
  border-top: 2px solid #f47c20;
}

.galleryItem h5  span {color:#9b9b9b;}

.galleryItem h6 {
  font-weight: normal;
  color:#9b9b9b;
  font-size:11px;
}

/* ------------------------- BREAK POINT -------------------------------------- */

@media (min-width:625px){
  .heroImg {
    width:40%;
    margin-top:30px;
  }

  .portfolioCont {
    margin-top:50px;
  }

  .galleryItem {
    height:250px;
  }
}