.projectPage * {box-sizing: border-box;}

.projectPage {
  width: 95%;
  margin: 0 auto;
}

.backArrow {
  display:none;
}

.projectContainer {
  width:90%;
  margin:20px auto;
}

.galleryContainer {
  height:500px;
  width:270px;
  display:grid;
  grid-template-rows:repeat(6,16%);
  grid-template-columns:50% 50%;
  grid-gap:12px;
  margin:0 auto;
  position: relative;
  right:5px;
}


.projectPage .description {
  display:block;
  margin:70px auto;
  width:275px;
}

.projectPage.short .description {
  margin-top:-45px;
}

.projectPage h3 {
  margin-bottom:10px;
}

.projectPage h5 {
  color:#9b9b9b;
  font-family: Courier,monospace;
  font-weight:normal;
  font-size:14px;
  margin: 0 0 10px;
}

.projectPage .fakeHR {
  border-bottom:1px solid #d2d2d2;;
  height:1px;
  width:45%;
  margin:25px 0;
}

.projectPage p {
  font-family: Courier,monospace;
  font-size: 12px;
  color: #272727;
}

.galleryContainer img,
.galleryContainer iframe {
    object-fit: cover;
    width:100%;
    height:100%;
  }
  
  .galleryContainer img:nth-child(1){
    grid-column:1/3;
    grid-row:1/3; 
  }
  .galleryContainer img:nth-child(2){
    grid-column:1/2;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(3){
    grid-column:2/3;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(4){
    grid-column:1/3;
    grid-row:4/6; 
  }
  .galleryContainer img:nth-child(5){
    grid-column:1/2;
    grid-row:6/7; 
  }
  .galleryContainer img:nth-child(6){
    grid-column:2/3;
    grid-row:6/7; 
  }



  .iframeContainer {
    display:none;
  }

  .iframeContainer.lightboxVisible {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.6);
    z-index:10;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  [title="galleryVid"] {
    height:190px;
    width:280px;
  }

    /* ------------------------ BREAK POINT ------------------ */

  @media (min-width:375px) {
    [title="galleryVid"] {
      height:220px;
      width:325px;
    }

    .galleryContainer {
      width: 320px;
      height:600px;
    }

    .projectPage .description {
      width:320px;
    }
  }

  /* ------------------------ BREAK POINT ------------------ */

@media (min-width:410px) {
  [title="galleryVid"] {
    height:260px;
    width:375px;
  }

}

  /* ------------------------ BREAK POINT ------------------ */

  @media (min-width:768px) {
    [title="galleryVid"] {
      height:400px;
      width:600px;
    }

    .galleryContainer {
      width: 500px;
      height:900px;
    }

    .projectContainer {
      width:80%;
    }

    .projectPage .description {
      width: 510px;
    }

    .projectPage.short .description {
      margin-top:-75px;
    }
  }

  /* ------------------------ BREAK POINT ------------------ */

  @media (min-width:1024px) {
    .galleryContainer {
      width:700px;
      height:1100px;
    }

    .projectPage .description{
      width:710px;
    }
  }

  

/* -------------------------- BREAK POINT ------------------------ */

@media (min-width:1200px) {

.projectPage {
  margin-bottom:65px;
}

  .backArrow {
    display: inherit;
    /* padding:20px 0; */
    padding:30px 0 30px 35px;
  }

  .backArrow img {
    width: 30px;
  }

  .projectContainer {
    width:80%;
    max-width:900px;
    margin:0 auto 80px;
  }

  .galleryContainer {
    height:350px;
    width:47%;
    max-width:490px;
    display:inline-grid;
    grid-template-rows:repeat(4,25%);
    grid-template-columns:60% 30%;
    grid-template-columns:repeat(3,33%);
    grid-gap:12px;
  }

  .projectPage .description {
    vertical-align: top;
    width:45%;
    text-align: left;
    margin-top:0;
    float: right;
  }
  .galleryContainer img:nth-child(1){
    grid-column:1/3;
    grid-row:1/3; 
  }
  .galleryContainer img:nth-child(2){
    grid-column:3/4;
    grid-row:1/2; 
  }
  .galleryContainer img:nth-child(3){
    grid-column:3/4;
    grid-row:2/3; 
  }
  .galleryContainer img:nth-child(4){
    grid-column:1/3;
    grid-row:3/5; 
  }
  .galleryContainer img:nth-child(5){
    grid-column:3/4;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(6){
    grid-column:3/4;
    grid-row:4/5; 
  }

  #root > .outerProject {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #root > div > .projectPage {
    flex:1 0 auto;
  }

  [title="galleryVid"] {
    height:520px;
    width: 850px;
  }  

  .projectPage h5 {
    font-size:14px;
  }

  .projectPage.short .description {
    margin-top:0;
  }

}


/* --------------------- VERTICAL PAGE BREAK POINT -----------------*/

@media (min-height:1200px) {
  .projectContainer {
    margin-top: 30px;

  }
}



