.projectPage * {box-sizing: border-box;}

.projectPage {
  width: 95%;
  margin: 0 auto;
}



.backArrow {
  display:none;
}

.projectContainer {
  width:90%;
  /* border:2px solid blue; */
  margin:20px auto;
}

.galleryContainer {
  height:500px;
  /* border:2px solid black; */
  display:grid;
  grid-template-rows:repeat(6,16%);
  grid-template-columns:50% 50%;
  grid-gap:12px;
  margin-left:-10px;

}

.projectPage .description {
  display:block;
  /* border:2px solid red; */
  margin-top:200px;
}

.projectPage h5 {
  color:#9b9b9b;
  font-family: 'Libre Baskerville', serif;  
  font-weight:normal;
  font-size:12px;
}

.projectPage p {
  font-family: Courier,monospace;
  font-size: 12px;
  color: #272727;
  /* line-height: 135%; */
}

.galleryContainer img,
.galleryContainer iframe {
  /*   border:1px solid red; */
    object-fit: cover;
    width:100%;
    height:100%;
  }
  
  .galleryContainer img:nth-child(1){
    grid-column:1/3;
    grid-row:1/3; 
  }
  .galleryContainer img:nth-child(2){
    grid-column:1/2;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(3){
    grid-column:2/3;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(4){
    grid-column:1/3;
    grid-row:4/6; 
  }
  .galleryContainer img:nth-child(5){
    grid-column:1/2;
    grid-row:6/7; 
  }
  .galleryContainer img:nth-child(6){
    grid-column:2/3;
    grid-row:6/7; 
  }


  

/* -------------------------- BREAK POINT ------------------------ */

@media (min-width:1200px) {
  .backArrow {
    display: inherit;
    padding:20px 0 20px 10px;
  }

  .backArrow img {
    width: 30px;
  }

  .projectContainer {
    width:75%;
    max-width:1200px;
    /* border:2px solid blue; */
    margin:0 auto 80px;
  }

  .galleryContainer {
    height:350px;
    width:50%;
    max-width:490px;
    /* border:2px solid black; */
    display:inline-grid;
    grid-template-rows:repeat(4,25%);
    grid-template-columns:60% 30%;
    grid-template-columns:repeat(3,33%);
    grid-gap:12px;
  }

  .projectPage .description {
    display:inline-block;
    vertical-align: top;
    width:50%;
    /* border:2px solid red; */
    text-align: left;
    margin-top:0;
  }
  .galleryContainer img:nth-child(1){
    grid-column:1/3;
    grid-row:1/3; 
  }
  .galleryContainer img:nth-child(2){
    grid-column:3/4;
    grid-row:1/2; 
  }
  .galleryContainer img:nth-child(3){
    grid-column:3/4;
    grid-row:2/3; 
  }
  .galleryContainer img:nth-child(4){
    grid-column:1/3;
    grid-row:3/5; 
  }
  .galleryContainer img:nth-child(5){
    grid-column:3/4;
    grid-row:3/4; 
  }
  .galleryContainer img:nth-child(6){
    grid-column:3/4;
    grid-row:4/5; 
  }

  #root > .outerProject {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #root > div > .projectPage {
    flex:1 0 auto;
  }

  .iframeContainer {
    display:none;
  }

  .iframeContainer.lightboxVisible {
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.6);
    z-index:10;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:5px solid blue;
  }

  .innerIframeContainer {
    border:2px solid green;
  }

  [title="galleryVid"] {
    height:56vh;
    width:75vw;
    border:2px solid red;
  }


}

@media (min-width:1400px) {
  [title="galleryVid"] {
    height:56vh;
    width:65vw;
    max-width:900px;
    border:2px solid red;
  }
}


