body {background-color: #fbfbfb;}


.landing,
.landingNav {
  display: block;
}

.landingApp {
  text-align: center;
  height:98vh;
  width:100vw;
  /* margin: 30px auto ; */
  background-color: #f47c20;
}

.mainContainer .landing-logo {
  height:400px;
}

h1,h2 {
  font-family: 'Saira Condensed', sans-serif;
  text-transform:uppercase;
}

h3,h4{
  font-family: 'Libre Baskerville', serif; 
}

.mainContainer h2.landingNav a {
  color:white;
  font-size:32px;
  position: relative;
}

  
.mainContainer h2.landingNav a:hover {
  text-shadow: 4px 4px 1px rgba(0, 108, 132, 1);
  color:white;
}

.mainContainer a {
  text-decoration: none;
}

.mainContainer {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingGif {
  padding:20px;
  width:90%;
  height: auto;
  margin:0 auto;
}

.loadingGifContainer {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------------------------------  BREAKPOINT -------------------------------------------- */


@media (min-width: 736px) {

  .mainContainer .landing {
    height:100%;
    display:inline-flex;
    align-items: center; 
    margin:0 70px 0 60px;
  }
  
  h3,h4{
    margin-bottom:10px; 
    margin-top:0;
  }
  
  h5 {
    color:#9b9b9b;
    font-family: 'Libre Baskerville', serif;  
    font-weight:normal;
    word-spacing: 3px;
    font-size:12px;
    margin:0;
  }
    
  p {
    font-family: Courier,monospace;
    font-size:12px;
    color:#272727;
    line-height:150%;
  }
  
  .mainContainer h2.landingNav.portfolio a{
    left:15px;
  }

  .landingNav.portfolio {
    margin-left: -70px;
  }
  
  
  .mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    height:100%;
    width:700px;
    margin:0 auto;
    position: relative;
    /* border:2px solid black; */
  }
  

  .loadingGif {
    width:50%;
  }
}
